<%- include('../layouts/sidebar'); %> <%- include('../layouts/header'); %>

<section class="content">
  <h1>General Settings</h1>
  <button class="index__add__new__btn">Add</button>
  <div class="index__header">
    <div>
      <h1>TITLE</h1>
    </div>
    <div>
      <h1>IMAGE</h1>
    </div>
    <div>
      <h1>ACTION</h1>
    </div>
  </div>
</section>
