/* reset  */
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 65.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
body {
  font-family: serif, 'Lato', 'Lobster', cursive, 'Montserrat';
}

.container {
  position: relative;
  width: 100%;
  margin: auto;
}
.side__bar {
  background-color: #ffffff;
  padding: 0 2rem;
  width: 20%;
  height: 100vh;
}
.side__bar img {
  margin-top: 1rem;
  width: 20rem;
  border-radius: 2rem;
}
.side__bar li {
  width: 100%;
  font-size: 1.6rem;
  padding: 2.5rem 2rem;
}
.side__bar i {
  color: #6c6c6c;
}
a {
  color: #6c6c6c;
}
/* li:hover {
  color: #663399;
  padding: 2.5rem 2rem;
  border-bottom: 0.2rem solid #663399;
} */
a.active {
  color: #663399;
  padding-bottom: 1rem;
}

.main__content {
  background-color: #f6f8fa;
  width: 80%;
  position: absolute;
  padding: 2rem;
  top: 0;
  left: 20%;
  height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header input {
  height: 3rem;
  width: 25rem;
  border-radius: 1rem;
  border: none;
  margin-right: 1rem;
}
.header input:focus {
  outline: none;
}
.header input::placeholder {
  color: #e5e5e5;
  padding: 0 1rem;
}

.header button {
  background-color: green;
  color: #fff;
  font-size: 1.5rem;
  height: 3rem;
  width: 10rem;
  border-radius: 1rem;
  border: none;
}

/*Managing content styles  */

.content {
  position: absolute;
  width: 76%;
  height: 84%;
  background-color: #fff;
  border-radius: 1.5rem;
  margin-top: 2rem;
  padding: 2rem 1rem;
  top: 5rem;
  left: 22%;
}

.index__container {
  position: absolute;
  top: 10rem;
  width: 97%;
  margin: auto;
}
.index__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #4c9d4c;
  color: #fff;
  padding: 1rem;
  border-bottom: 0.3rem solid green;
}
.index__body {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.2rem solid #c0c0c0;
  padding: 1rem 0;
}

.index__add__new__btn {
  height: 3.5rem;
  width: 7rem;
  margin: 2rem 0 0.5rem 0;
  font-size: 1.5rem;
  background-color: green;
  color: #fff;
  border: none;
  cursor: pointer;
}
.index__add__new__btn i {
  margin-right: 0.5rem;
}

.index__add__new__btn:hover {
  background-color: #128412a9;
}
