/* primary color */
$black-color: #000;
$black-color-100: #272222;
$black-color-200: #3b3636;
$black-color-300: #414040;
$green-color: #00a85a;
$green-color-dark: #06703e;
$green-color-light-500: #eff9f1cc;
$white-color: #fff;
$pupple-color: #3f3f95;
$puppleLight-color: #5454aa;
$lightGrey-color: #e5e5e5;
$lightGrey-color-100: #e0e0e0;
