<section class="main__content">
  <div class="header">
    <div>
      <h1>Dashboard</h1>
    </div>
    <div>
      <form>
        <input type="text" placeholder="Search" />
        <button type="search">Search</button>
      </form>
    </div>
  </div>
</section>
