<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/config.css" />
    <title>Admin</title>
  </head>
  <body>
    <section class="container">
      <aside class="side__bar">
        <a href="/">
          <img src="assets/logo.png" alt="logo" src="" />
        </a>
        <ul class="side__items">
          <li class="side__item">
            <a class="active" href="/settings">
              <i class="fa-regular fa-folder-open"></i>
              Site Setting
            </a>
          </li>
          <li class="side__item">
            <a href="/manage-projects">
              <i class="fa-regular fa-folder-open mr__half"></i>
              Manage Project
            </a>
          </li>
          <li class="side__item">
            <a href="/manage-skills">
              <i class="fa-regular fa-folder-open mr__half"></i>
              Manage Skills
            </a>
          </li>
          <li class="side__item">
            <a href="/manage-experiences">
              <i class="fa-regular fa-folder-open mr__half"></i>
              Manage Expriences
            </a>
          </li>
          <li class="side__item">
            <a href="/manage-clients">
              <i class="fa-regular fa-folder-open mr__half"></i>
              Manage Clients
            </a>
          </li>
        </ul>
      </aside>
    </section>
  </body>
</html>
