/* desktop heaer hide here */
@import '../../sass/variable';
@import '../../sass/mixins';
.header {
  border-bottom: 0.4rem solid $green-color;
  text-align: center;
  position: sticky;
  background-color: $white-color;
  top: 0;
  z-index: 99999;
  padding: 1rem 0;

  .display__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 90%;
  }
  //mobile media query to increase the header height
  @include responsive(phone) {
    height: 7rem;
  }
  img {
    height: 4rem;
    //mobile media query tp center the logo in the mobile view
    @include responsive(phone) {
      position: absolute;
      height: 5rem;
      left: 50%;
      top: 10%;
      transform: translate(-50%, 10%);
    }
  }
  .rm_hover:hover {
    border-bottom: none !important;
    padding-bottom: 0px !important;
  }
  li {
    display: inline;
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    //mobile media query to hide the menu list
    @include responsive(phone) {
      display: none;
    }
  }
  a {
    text-decoration: none;
    color: $black-color;
    transition: 0.5s ease;

    &:hover {
      color: $green-color;
      padding-bottom: 0.5rem;
      border-bottom: 0.2rem solid $green-color;
    }
    &:active {
      color: $green-color;
      padding-bottom: 0.5rem;
      border-bottom: 0.2rem solid $green-color;
    }
  }
}

.btn {
  background-color: $green-color;
  color: $white-color !important;
  margin: auto 0;
  border-radius: 0.4rem;
  font-weight: normal;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  transition: 0.5s ease;
  &:hover {
    background-color: $green-color-dark;
    padding: 1rem 1.5rem !important;
    border-bottom: none !important;
  }
  //mobile media query to hide contact btn
  @include responsive(phone) {
    display: none;
  }
}
