@import '../sass/mixins';
@import '../sass/variable';

.hero {
  background-color: $white-color;
  height: 40rem;
  text-align: center;
  padding: 8rem 0;
  @include responsive(phone) {
    padding: 3rem 0;
    height: 25rem;
  }
  @include responsive(tab_port) {
    padding: 5rem 0;
    height: 30rem;
  }
  button {
    margin: 1rem 0.5rem;
    padding: 1.3rem 0.5rem;
  }
}

.title {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 900;
  font-family: 'Lobster';

  @include responsive(tab_land) {
    font-size: 3.5rem;
  }
  @include responsive(tab_port) {
    font-size: 3.5rem;
  }
  @include responsive(phone) {
    font-size: 3rem;
  }
}
.sub__title {
  color: $black-color-100;
  margin-bottom: 1rem;
  font-size: 2rem;
  line-height: 2.5rem;
  @include responsive(tab_land) {
    font-size: 1.5rem;
  }
  @include responsive(tab_port) {
    font-size: 1.5rem;
  }
  @include responsive(phone) {
    font-size: 1.1rem;
  }
}

.btn__primary {
  display: inline-block;
  margin: 0.4rem;
  color: $white-color !important;
  border: 0.13rem solid $green-color;
  color: $black-color !important;
  border-radius: 0.4rem;
  padding: 1rem 0rem;
  width: 11rem;
  font-size: 1rem;
  transition: all 0.5s ease;

  cursor: pointer;
  @include responsive(desktop) {
    // width: 12.5rem;
  }
  @include responsive(phone) {
    // width: 12.5rem;
  }
  @include responsive(tab_port) {
    // width: 12.5rem;
  }
  @include responsive(tab_land) {
    // width: 12.5rem;
  }
  &:hover {
    background-color: $green-color;
    color: $white-color !important;
    @include responsive(phone) {
      // padding: 1rem 0rem !important;
    }
  }
}

.btn__secondary {
  display: inline-block;
  margin: 0.4rem;
  background-color: $green-color !important;
  color: $white-color !important;
  border: 0.13rem solid $green-color;
  border-radius: 0.4rem;
  padding: 1rem 0rem;
  transition: all 0.5s ease;
  width: 11rem;
  font-size: 1rem;
  cursor: pointer;
  @include responsive(phone) {
  }
  &:hover {
    background-color: $white-color !important;
    color: $black-color !important;
    border: 0.13rem solid $black-color !important;
  }
}
