@import '../sass/mixins';
@import '../sass/variable';

.contact {
  position: relative;
  background-color: $white-color;
  height: 50rem;
  padding: 1rem 0;
  margin: 0 auto;
  text-align: center;
  h1 {
    font-size: 2rem;
    margin: 2rem 0;
    text-transform: uppercase;
    @include responsive(tab_land) {
      font-size: 1.7rem;
    }
    @include responsive(tab_port) {
      font-size: 1.6rem;
    }
    @include responsive(phone) {
      font-size: 1.1rem;
    }
  }
}

.form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  input {
    box-shadow: 0 0 1px 1px $lightGrey-color-100;
    display: block;
    height: 4rem;
    border: none;
    width: 50rem;
    margin: 1rem;
    padding: 0.5rem 1rem;
    transition: all 0.5s ease-in-out;

    @include responsive(tab_port) {
      border-radius: 0.5rem;
    }
    @include responsive(phone) {
      width: 28rem;
      border-radius: 0.5rem;
      margin: 1rem auto;
    }
    &::placeholder {
      color: $black-color-100;
    }
    &:focus {
      outline: none;
    }
    &:hover {
      box-shadow: 0 0 9px 2px #11a68385;
    }
  }
  textarea {
    box-shadow: 0 0 1px 1px $lightGrey-color-100;
    display: block;
    width: 50rem;
    height: 15rem;
    margin: 1rem;
    background-color: $white-color;
    padding: 0.5rem 1rem;
    color: $black-color-100;
    border: none;
    transition: all 0.5s ease-in-out;
    @include responsive(desktop) {
      border-radius: 0 2rem;
    }
    @include responsive(tab_land) {
      border-radius: 0 2rem;
    }
    @include responsive(tab_port) {
      border-radius: 0 2rem;
    }
    @include responsive(phone) {
      width: 28rem;
      border-radius: 0 2rem;
      margin: 1rem auto;
    }

    &::placeholder {
      color: $black-color-100;
    }
    &:hover {
      box-shadow: 0 0 9px 3px #11a68385;
    }
    &:focus {
      outline: none;
    }
  }
  button {
    padding: 1.4rem 5rem;
    background-color: $green-color;
    color: $white-color;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.5rem;
    margin-top: 1rem;
    transition: all 0.5s ease;
    cursor: pointer;
    &:hover {
      background-color: $green-color-dark;
    }
  }
}
