@import '../sass/mixins';
@import '../sass/variable';
.skills {
  padding: 5rem 0;
  margin: auto;
  .title {
    font-size: 2rem;
    margin: 1rem 6rem 0;
    text-align: left;
    text-transform: uppercase;
    @include responsive(tab_land) {
      font-size: 1.7rem;
    }
    @include responsive(phone) {
      font-size: 1.1rem;
      text-align: center;
    }
  }
}

.display__grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: auto auto auto auto;
  padding-top: 4rem;
  justify-items: center;
  padding-top: 4rem;
  width: 50%;
  margin-left: 4rem;
  @include responsive(phone) {
    grid-template-columns: auto auto auto;
    margin-left: 0rem;
    width: 100%;
    gap: 1rem;
    justify-content: space-evenly;
  }
}

.skills__card {
  img {
    background-color: $black-color;
    padding: 0.5rem;
    border-radius: 10rem;
    height: 8rem;

    @include responsive(tab_port) {
      height: 7rem;
    }
    @include responsive(phone) {
      height: 5rem;
    }
  }
  h3 {
    text-align: left;
    font-size: 2rem;
    font-weight: normal;
    @include responsive(tab_land) {
      font-size: 1.7rem;
      text-align: center;
    }
    @include responsive(tab_port) {
      font-size: 1.6rem;
      text-align: center;
    }
    @include responsive(phone) {
      font-size: 1.1rem;
      text-align: center;
    }
  }
}
